@inherits LayoutComponentBase

<div class="govuk-template">
    <header class="govuk-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype-text">GOV.UK</span>
                </a>
            </div>
            <div class="govuk-header__content">
                <a class="govuk-header__link govuk-header__link--service-name" href="/">QuickEnrol</a>
            </div>
        </div>
    </header>

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            @Body
        </main>
    </div>

    <footer class="govuk-footer" role="contentinfo">
        <div class="govuk-width-container">
            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                    <h2 class="govuk-visually-hidden">Support links</h2>
                    <ul class="govuk-footer__inline-list">
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="#">Accessibility</a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="#">Cookies</a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="#">Privacy</a>
                        </li>
                    </ul>
                    <p class="govuk-footer__licence-description">
                        All content is available under the
                        <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">
                            Open Government Licence v3.0
                        </a>, except where otherwise stated.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
