@page "/"

<h1 class="govuk-heading-xl">Welcome to QuickEnrol</h1>

<p class="govuk-body">
    This is a sample page using the UK Government Design System. Use the navigation bar to explore.
</p>

<a class="govuk-button" href="/register">Register now</a>
