@page "/"

<h1 class="govuk-heading-xl">Welcome to QuickEnrol</h1>

<h3 class="govuk-heading-m">This is a demo project to show some asp.net core, azure, entra and programming workflow experiance.<br /></h3>



<LoginDisplay/>


